/vendor/
/node_modules/

/public/build/
/public/hot
/public/storage

/storage/*.key
/storage/app/modules.json
/storage/testing/*
!/storage/testing/.gitignore

/.env
/.env.backup

/.phpunit.result.cache
/.phpunit.cache

*.sqlite
*.sqlite-journal*

npm-debug.log*
yarn-error.log*